aniso8601==7.0.0
asgiref==3.4.1
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
charset-normalizer==2.0.7
distlib==0.3.3
Django==2.1.15
django-ckeditor==6.1.0
django-cleanup==5.2.0
django-cors-headers==3.10.0
django-crispy-forms==1.13.0
django-graphql-jwt==0.3.0
django-js-asset==1.2.2
django-pyodbc-azure==2.1.0.0
djangorestframework==3.12.4
filelock==3.3.2
graphene==2.1.9
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
idna==3.3
MouseInfo==0.1.3
platformdirs==2.4.0
promise==2.3
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyJWT==2.3.0
PyMsgBox==1.0.9
pyodbc==4.0.32
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
PyTweening==1.0.3
pytz==2021.3
requests==2.26.0
Rx==1.6.1
singledispatch==3.7.0
six==1.16.0
sqlparse==0.4.2
text-unidecode==1.3
urllib3==1.26.7
virtualenv==20.10.0
