
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
<div class="row" style="margin-top:100px;">
    <div class="col-md-6 offset-md-3">
        <h3>Harcamalar</h3>
        <hr>
        <form action="your url that points to your view" method="POST">
            {% csrf_token %}
            {{ form.media.js }}
            {{ form.as_p}}
            <input type="submit" value="Submit">
        </form>
    </div>
  </div>
  </div>
  
{% endblock body %}
<script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script>