<nav class="side-nav" id="sidebar">
  <div class="sidebar-brand text-center">
    <a href="/">
      <img alt="image" src="https://i.hizliresim.com/b3kl38v.jpg" class="header-logo" style="height: 50px;">
    </a>
  </div>
  <div class="sidebar-profile mt-2">
    <div class="siderbar-profile-pic">
      <img src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_profile.svg"
        class="profile-img-circle box-center" alt="User Image">
    </div>
    <div class="siderbar-profile-details">
      <div class="siderbar-profile-name text-white"> İsim Soyisim </div>
      <div class="siderbar-profile-position text-white">Öğrenci </div>
    </div>
  </div>
  <ul class="lisst-unstyled nav-menu">

    <li class="nav-item navitem1 active">
      <a class="navitem" href="/home"><i class="fas fa-home"></i> AnaSayfa</a>
    </li>
    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="sidebar-left"><i
        class="fas fa-user-graduate"></i> Öğrenci İşleri <i class="fas fa-caret-down list-icon"></i></a>
    <ul class="collapse list-unstyled" id="homeSubmenu">
      <li class="nav-item ogr-hover">
        <a href="#" class="ogr-ogr-hover"><span> <i class="fas fa-users"></i> Öğrenciler</span></a>
      </li>
      <li class="nav-item veli-hover">
        <a href="#" class="veli-hovers"><i class="fas fa-user-friends"></i> Veliler</a>
      </li>

    </ul>
    <li class="nav-item sub-hover">
      <a class="navitem sub-hoverd" href="/catlist"><i class="fas fa-chalkboard-teacher"></i> Şubeler</a>
    </li>
    <li class="nav-item egit-hover">
      <a class="navitem egit-hover4" href="#"><i class="fas fa-user-tie"></i> Eğitmenler</a>
    </li>
    <li class="nav-item soru-hover">
      <a class="navitem soru-hovers" href=".\soru.html"><i class="fas fa-comment-dots"></i> Soru
        Çözümü</a>
    </li>
    <li class="nav-item online-hover">
      <a class="navitem online-hovers" href="./onl-birebir.html"><i class="fas fa-user-friends"></i>
        Online Birebir</a>
    </li>
  </ul>
</nav>

<div id="content">

  <nav class="navbar rounded col-12">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn mavi">
        <i class="fas fa-align-left"></i>
      </button>
      <h5 class="okul-ism">Gaziantep Anadolu Lisesi</h5>
      <button type="button" class="btn icon mavii dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-cog fa-sm"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item m-1" style="color: #959aa8" href="#"><i class="fas fa-user-lock"></i>
          <span class="ml-1">Şifremi değiştir</span> </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item m-1" style="color: #959aa8" href="#"><i class="fas fa-sign-out-alt"></i>
          <span class="ml-1">Çıkış</span>
        </a>
      </div>
    </div>
  </nav>

  <br>
  

  <script>

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

</script>
<script>
    $(function () {
        $("li").click(function () {
            $("li").removeClass("active");
            $(this).addClass("active");
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(function () {
        var a = 0;
        $('.sub-hoverd').hover(function () {
            $('.sub-hover').toggleClass("active");
        });
        $('.egit-hover4').hover(function () {
            $('.egit-hover').toggleClass("active");
        });
        $('.ogr-ogr-hover').hover(function () {
            $('.ogr-hover').toggleClass("active");
        });
        $('.online-hovers').hover(function () {
            $('.online-hover').toggleClass("active");
        });
        $('.soru-hovers').hover(function () {
            $('.soru-hover').toggleClass("active");
        });
        $('.veli-hovers').hover(function () {
            $('.veli-hover').toggleClass("active");
        });

    });
</script>