{% extends "leyaut.html" %}
{% block body %}
{% load bootstrap5 %}
div class="container-fluid">
<div class="card shadow ">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Category Listesi</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Categori İsmi</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>{% for model in models %}
                        <td><a class="link-dark"
                                href="/product/{{user.account.restorant_id}}/{{model.id}}">{{model.name}}</a>
                        </td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td><a class="ml-1" href="/edit/{{model.cat_Code}}"><i class="fa fa-search"></i> İncele</a></td>
                        <!-- <td><a class="btn btn-danger rounded ml-1" href="/delete/{{model.cat_Code}}">Sil</a></td> -->
                    </tr>
                    </a>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}