{% extends "leyaut.html" %}
{% load crispy_forms_tags %}

{% block body %}
<!-- <div class="container">
    <div class="row" style="margin-top:100px;">
        <div class="col-md-6 offset-md-3">
            <h3>Harcamalar</h3>
            <hr>
            <form method="POST">
                {{ form.category}}
                <input type="text" name="name" id="name">
                <input type="text" name="product_Img" id="product_Img">
                <input type="text" name="price" id="price">
                <input type="text" name="pro_contents" id="pro_contents">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div> -->

{% endblock body %}