{% extends "leyaut.html" %}
{% block body %}

<div class="container">
{% if models %}
<div class="w3-quarter ">
    <table class=" table table-bordered table-dark " style="margin-top:5em;">
        <thead>
          <tr>
            <th scope="col">Ürün İsmi</th>
            <th scope="col">Ürün Resmi</th>
            <th scope="col">Üürn Fiyatı</th>
            <th scope="col">Ürün İçeriği</th>
            <th scope="col">Ürün İçeriği</th>
            <th scope="col">Düzenle</th>
            <th scope="col">Sil</th>
          </tr>
        </thead>
        <tbody>
            
          <tr >{% for model in models %}
            <td>{{model.name}}</td>
            <td>{{model.product_Img}}</td>
            <td>{{model.price}} ₺</td>
            <td>{{model.pro_contents}}</td>
            <td>{{user.account.restorant_id}}</td>
        
              <td><a class="btn btn-success rounded ml-1" href="/edit/{{model.cat_Code}}">Düzenle</a></td>
              <td><a class="btn btn-danger rounded ml-1" href="/delete/{{model.cat_Code}}">Sil</a></td>
          </tr>
        </a>
          {% endfor %}
        
        </tbody>
      </table>
  </div>
    {% else %}
    <div class="alert alert-danger">Bulunamadı.</div>
    {% endif %}
</div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
