{% extends "leyaut.html" %}
{% block body %}

<div class="container">
  <div
    class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
    <h3 class="fw-bold mb-0">Ürün Listesi</h3>
    <a href="/productadd/{{rest_code}}" class="btn btn-primary py-2 px-5 btn-set-task w-sm-100"><i
        class="icofont-plus-circle me-2 fs-6"></i> Ürün Ekle</a>
  </div>
  {% if models %}
  <div class="row g-3 mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div id="myDataTable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="row">
              <div class="col-sm-12">
                <table id="myDataTable"
                  class="table table-hover align-middle mb-0 nowrap dataTable no-footer dtr-inline" style="width: 100%;"
                  role="grid" aria-describedby="myDataTable_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" style="width: 91.2px;">
                        Id</th>
                      <th class="sorting" tabindex="0" style="width: 244.2px;">Ürün
                      </th>
                      <th class="dt-body-right sorting" style="width: 244.2px;">
                        Status
                      </th>
                      <th class="dt-body-right sorting" style="width: 244.2px;">
                        Görsel
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="myDataTable" rowspan="1" colspan="1"
                        style="width: 140.2px;" aria-label="Status: activate to sort column ascending">Fiyatı</th>
                      <th class="dt-body-right sorting" tabindex="0" aria-controls="myDataTable" rowspan="1" colspan="1"
                        style="width: 168.2px;" aria-label="Action: activate to sort column ascending">
                        Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for model in models %}
                    <tr role="row" class="even">
                      <td tabindex="0" class="sorting_1"><strong>#{{model.id}}</strong></td>
                      <td>{{model.name}}</td>
                      <td class=" dt-body-right">
                        {% if model.is_active %}
                        <span class="badge bg-success">Aktif</span>
                        {% else %}
                        <span class="badge bg-danger">Pasif</span>
                        {% endif %}
                      </td>
                      <td><img src="/{{model.product_Img}}" width="25%" alt="" srcset=""></td>
                      <td>
                        {% if model.discount_price %}
                        <span class="badge text-info">{{model.discount_price}}₺</span>
                        <span style="text-decoration:line-through" class="badge text-danger">{{model.price}}₺</span>
                        {% else %}
                        <span class="badge text-info">{{model.price}} ₺</span>
                        {% endif %}
                      </td>
                      <td class=" dt-body-right">
                        <div class="btn-group">
                          <a href="/edit/{{model.cat_Code}}" style="padding: 2px 6px 2px!important;"
                            class="btn btn-primary"><i class="uil uil-pen"></i></a>
                            <a href="/deleteproduct/{{model.id}}" style="padding: 2px 6px 2px!important;"
                            class="btn btn-primary"><i class="uil uil-pen"></i></a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row mt-4">
              <div class=" col-md-5">
                <div class="dataTables_info" id="myDataTable_info" role="status" aria-live="polite">Showing 1 to 10
                  of
                  13 entries</div>
              </div>
              <div class="col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="myDataTable_paginate">
                  <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="myDataTable_previous"><a href="#"
                        aria-controls="myDataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                    <li class="paginate_button page-item active"><a href="#" aria-controls="myDataTable" data-dt-idx="1"
                        tabindex="0" class="page-link">1</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="myDataTable" data-dt-idx="2"
                        tabindex="0" class="page-link">2</a></li>
                    <li class="paginate_button page-item next" id="myDataTable_next"><a href="#"
                        aria-controls="myDataTable" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="alert alert-danger">Bulunamadı.</div>
  {% endif %}
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>

  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });
  });

</script>
<script>
  $(function () {
    $("li").click(function () {
      $("li").removeClass("active");
      $(this).addClass("active");
    });
  });
</script>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
  $(function () {
    var a = 0;
    $('.sub-hoverd').hover(function () {
      $('.sub-hover').toggleClass("active");
    });
    $('.egit-hover4').hover(function () {
      $('.egit-hover').toggleClass("active");
    });
    $('.ogr-ogr-hover').hover(function () {
      $('.ogr-hover').toggleClass("active");
    });
    $('.online-hovers').hover(function () {
      $('.online-hover').toggleClass("active");
    });
    $('.soru-hovers').hover(function () {
      $('.soru-hover').toggleClass("active");
    });
    $('.veli-hovers').hover(function () {
      $('.veli-hover').toggleClass("active");
    });

  });
</script>
{% endblock body %}